/* MEDIA ####################################################### */
@media (min-width: 300px){

  /* HEADER =============== */
  #site-header {
    padding: 15px 0;
  }

  .header__logo-wrap {
    width: 120px;
  }

  .header__logo {
    width: 100%;
  }

  .header__nav {
    margin: 0;
    position: fixed;
    top: 60px;
    left: 0;
    background: var(--primary);
    height: 0vh;
    width: 100vw;
    transition: all 0.5s ease-in-out;
    z-index: 10;
  }

  .nav-show {
    height: 100vh;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
  }

  .nav-list__show {
    display: block;
  }

  .nav-list__item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    transition: all 0.2s ease-in-out;
  }

  .nav-list__item i {
    display: none;
  }

  .nav-list__home-menu{
    display: none;
  }
  /* /HEADER =============== */

  /* HERO ================== */
  #hero {
    background-image: url(../img/banner-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .hero__desc {
    margin-top: 50px;
  }

  .hero__title {
    margin: 0 auto;
    font-size: 30px;
    width: 90%;
  }

  .hero__title span {
    color: var(--primary);
  }

  .hero__paragraph {
    width: 100%;
  }

  .hero__title br,
  .hero__paragraph br {
    display: none;
  }

  .hero__image-wrap {
    margin-top: 50px;
  }

  .hero__img {
    position: relative;
    top: 0;
    width: 100%;
    animation-name: hero-anim;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  /* /HERO ================== */


  /* HOW ==================== */
  #how {
    margin-top: 50px;
    padding: 100px 0;
    background: #f2f7ff;
  }

  .heading {
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 3px;
    color: var(--primary);
  }

  .title {
    margin-top: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
  }

  .how__paragraph {
    width: 80%;
    margin: 0 auto;
  }

  .how__props {
    margin-top: 50px;
  }

  .how__subtitle {
    font-size: 20px;
    max-width: 500px;
    font-weight: 600;
  }

  .how__img {
    width: 70%;
    animation-name: rotate-img;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .how__desc-p {
    max-width: 450px;
  }

  .how__desc-p,
  .how__item {
    font-size: 12px;
    line-height: 2em;
    color: #111111;
  }

  .how__item {
    font-size: 12px;
    position: relative;
    left: -10px;
    margin-bottom: 20px;
  }

  .how__item::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: var(--primary);
    border-radius: 50%;
  }
  /* HOW ==================== */


  /* FEATURE ================ */
  #feature {
    padding: 100px 0;
  }

  .feature__title {
    margin-bottom: 0;
  }

  .feature__paragraph {
    width: 90%;
    margin: 0 auto;
  }

  .card {
    padding: 20px;
  }

  .card img {
    transition: all 0.2s ease-in-out;
  }

  .card:hover img {
    filter: contrast(0)
  }

  .card__title {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }

  .card__title:hover {
    color: var(--primary);
  }

  .card__paragraph {
    font-size: 12px;
    line-height: 1.5rem;
    color: var(--secondary);
  }
  /* /FEATURE ================ */
}


/* MEDIA ####################################################### */
@media (min-width: 567px){
  .how__img {
    width: unset;
  }
}


/* MEDIA ####################################################### */
@media (min-width: 768px){
  .header__logo-wrap {
    width: 150px;
  }

  /* HERO =================== */

  .hero__title {
    font-size: 35px;
    margin-left: 0;
  }
  /* HERO =================== */

  /* HOW ==================== */
  .how__paragraph {
    max-width: 65%;
  }

  .how__subtitle {
    font-size: 30px;
  }
  /* HOW ==================== */
}


/* MEDIA ####################################################### */
@media (min-width: 992px){

}


/* MEDIA ####################################################### */
@media (min-width: 1024px){

  .title {
    font-size: 40px;
  }

  /* HEADER =============== */
  .header__logo-wrap {
    width: 236px;
  }

  .header__nav {
    padding: 0;
    position: static;
    width: unset;
    height: unset;
    background: transparent;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-list__item {
    margin-bottom: 0;
    padding-bottom: 0;
    width: unset;
    border: none;
    margin-left: 50px;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary);
    transition: all 0.2s ease-in-out;
  }

  .nav-list__link,
  .nav-list__item i {
    transition: all 0.2s ease-in-out;
  }

  .nav-list__home-menu {
    opacity: 0;
    display: block;
    position: absolute;
    width: 187px;
    top: 60px;
    background: var(--primary);
    box-shadow: 0px 0px 11px -2px rgba(34, 60, 80, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .nav-list__home-item {
    padding: 15px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: -40px;
    width: 192px;
    background: #fff;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
  }
  .nav-list__home-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .nav-list__home-item:hover {
    margin-left: 5px;
    width: 187px;
  }

  .nav-list__item:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: all 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.5, 0.7);
  }
  
  .nav-list__item:last-child:after {
    display: none;
  }
  
  .nav-list__item:hover .nav-list__link {
    color: var(--primary);
  }
  .nav-list__item:hover .nav-list__home-menu {
    opacity: 1;
    top: 40px;
    z-index: 100;
  }
  .nav-list__item:hover i {
    transform: rotate(180deg);
    color: var(--primary);
  }
  .nav-list__item:hover::after {
    width: 100%;
  }
  
  .nav-list__item i {
    display: unset;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    top: -4px;
  }

  .header__menu-wrap {
    display: none;
  }

  .nav-list__btn {
    margin-right: 8px;
    padding: 12px 30px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 14px 22px;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.2s ease-in-out;
  }
  
  .nav-list__btn:hover {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  /* /HEADER =============== */


  /* HERO ================== */
  .hero__wrap {
    position: relative;
    height: 80vh;
    z-index: 5;
  }

  .hero__title {
    margin-left: 0;
    font-size: 50px;
    width: 100%;
  }

  .hero__title br {
    display: block;
  }

  .paragraph {
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--secondary);
    line-height: 25px;
    font-size: 16px;
  }

  .hero__paragraph br {
    display: none;
  }
  /* /HERO ================== */

  /* FEATURE ================ */
  .feature__paragraph {
    width: 70%;
    margin: 0 auto;
  }

  .card__title {
    font-size: 24px;
  }

  .card__paragraph {
    width: 80%;
  }
  /* /FEATURE ================ */
}


/* MEDIA ####################################################### */
@media (min-width: 1200px){
  
}


/* ANIMATIONS ####################################################### */
@keyframes hero-anim {
  50%{
    transform: translate(0,-7px);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes rotate-img {
  100%{
    transform: rotate(360deg);
  }
}